<!-- BASE HTML -->
{% extends "base.html" %}

<!-- Title -->
{% block title %} MLAPPS HOME {% endblock %}

<!-- Index Content -->
{% block page_content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    This is a collection of machine learning mini projects application. If you
    want to try them, please select on the menu tab "Application"
  </p>
  <hr class="my-4" />
  <p>
    Have a nice try
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
