<!-- BASE HTML -->
{% extends "base.html" %}

<!-- Title -->
{% block title %} MLAPPS HOME {% endblock %}

<!-- Jumbotron -->
{% block page_content %}
<div
  class="jumbotron jumbotron-fluid"
  style="
    background-image: url(../static/img/nature.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
  "
>
  <div class="container text-center">
    <h1 class="display-4">
      Hello, <span>World!</span><br />
      Welcome to <span>MLAPPS</span>
    </h1>
    <p class="lead" style="color: azure;">
      Try some applications which can check sentiment, spam, find old documents,
      etc
    </p>
    <hr class="my-4" />
  </div>
</div>
{% endblock %}
